---
import Button from "../components/Button";
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout title="Home">
	<p id="copyright" class="text-3xl text-white
	 bg-blue-500"></p>
</MainLayout>

<script>
	import "../js/utils.js";
</script>